body {
    font-family: 'Oswald', sans-serif;
    background-image: -moz-radial-gradient(#1a1a1a,#111111);
}

.header {
    text-align: center;
    color:aliceblue;
    background-image: -moz-radial-gradient(#858585,#b6b6b6);
    background-image: linear-gradient(90deg,#000000,#242424);
}
.options{
    text-align: start;
}
.buttons{
    text-align: end;
}
.board{
    width: 100%;
    text-align: center;
}
.chessboard{
    display: inline;
}